# Import packages and modules

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from dotenv import load_dotenv
import os

In [3]:
load_dotenv()

True

# Import data

In [4]:
# data = pd.read_csv("../DATA_HR")
data = os.getenv("DATA_HR")

In [5]:
data_df = pd.read_csv(data)

In [20]:
data_df.head()

,ID,Name,Department,GEO,Role,Rising_Star,Will_Relocate,Critical,Trending Perf,Talent_Level,...,Emp_Competitive_4,Emp_Competitive_5,Emp_Collaborative_1,Emp_Collaborative_2,Emp_Collaborative_3,Emp_Collaborative_4,Emp_Collaborative_5,Sensor_StepCount,Sensor_Heartbeat(Average/Min),Sensor_Proximity(1-highest/10-lowest)
0,1,BRADDY,Operations,US,VP,NaN,0,1.0,3,6,...,2,2,2,2,2,1,5,1841,61,9
1,2,BORST,Sales,UK,Senior Director,NaN,0,NaN,3,6,...,4,1,3,2,5,1,5,1990,90,8
2,3,BIRDWELL,Finance,France,Senior Director,NaN,0,NaN,3,6,...,2,5,2,2,4,4,4,3193,80,8
3,4,BENT,Human Resources,China,Senior Director,NaN,0,NaN,3,6,...,5,1,1,2,4,4,1,3248,77,6
4,5,BAZAN,IT,Korea,Director,NaN,0,NaN,3,6,...,5,3,5,1,2,5,4,3149,80,10

# Clearing data

In [16]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 62 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   ID                                     14999 non-null  int64
 1   Name                                   14997 non-null  object
 2   Department                             14999 non-null  object
 3   GEO                                    14999 non-null  object
 4   Role                                   14999 non-null  object
 5   Rising_Star                            21 non-null     float64
 6   Will_Relocate                          14999 non-null  int64
 7   Critical                               480 non-null    float64
 8   Trending Perf                          14999 non-null  int64
 9   Talent_Level                           14999 non-null  int64
 10  Validated_Talent_Level                 14999 non-null  int64
 11  Percent_Remote                         14999 non-null  float64
 12  EMP_Sat_OnPrem_1                       14871 non-null  float64
 13  EMP_Sat_OnPrem_2                       14871 non-null  float64
 14  EMP_Sat_OnPrem_3                       14871 non-null  float64
 15  EMP_Sat_OnPrem_4                       14871 non-null  float64
 16  EMP_Sat_OnPrem_5                       14871 non-null  float64
 17  EMP_Sat_Remote_1                       14999 non-null  int64
 18  EMP_Sat_Remote_2                       14999 non-null  int64
 19  EMP_Sat_Remote_3                       14999 non-null  int64
 20  EMP_Sat_Remote_4                       14999 non-null  int64
 21  EMP_Sat_Remote_5                       14999 non-null  int64
 22  EMP_Engagement_1                       14999 non-null  int64
 23  EMP_Engagement_2                       14999 non-null  int64
 24  EMP_Engagement_3                       14999 non-null  int64
 25  EMP_Engagement_4                       14999 non-null  int64
 26  EMP_Engagement_5                       14999 non-null  int64
 27  last_evaluation                        14999 non-null  float64
 28  number_project                         14999 non-null  int64
 29  average_montly_hours                   14999 non-null  int64
 30  time_spend_company                     14999 non-null  int64
 31  Work_accident                          14999 non-null  int64
 32  left_Company                           14999 non-null  int64
 33  CSR Factor                             1713 non-null   float64
 34  promotion_last_5years                  14999 non-null  int64
 35  sales                                  14999 non-null  object
 36  salary                                 14999 non-null  object
 37  Gender                                 14999 non-null  object
 38  LinkedIn_Hits                          14999 non-null  int64
 39  Emp_Work_Status2                       14999 non-null  int64
 40  Emp_Work_Status_3                      14999 non-null  int64
 41  Emp_Work_Status_4                      14999 non-null  int64
 42  Emp_Work_Status_5                      14999 non-null  int64
 43  Emp_Identity                           14999 non-null  int64
 44  Emp_Role                               14999 non-null  int64
 45  Emp_Position                           14999 non-null  int64
 46  Emp_Title                              14999 non-null  int64
 47  Women_Leave                            7596 non-null   float64
 48  Men_Leave                              4865 non-null   float64
 49  Emp_Competitive_1                      14999 non-null  int64
 50  Emp_Competitive_2                      14999 non-null  int64
 51  Emp_Competitive_3                      14999 non-null  int64
 52  Emp_Competitive_4                      14999 non-null  int64
 53  Emp_Competitive_5                      14999 non-null  int64
 54  Emp_Collaborative_1                    14999 non-null  int64
 55  Emp_Collaborative_2                    14999 non-null  int64
 56  Emp_Collaborative_3                    14999 non-null  int64
 57  Emp_Collaborative_4                    14999 non-null  int64
 58  Emp_Collaborative_5                    14999 non-null  int64
 59  Sensor_StepCount                       14999 non-null  int64
 60  Sensor_Heartbeat(Average/Min)          14999 non-null  int64
 61  Sensor_Proximity(1-highest/10-lowest)  14999 non-null  int64
dtypes: float64(12), int64(43), object(7)
memory usage: 7.1+ MB

In [30]:
data_df.drop(columns=["Name", "Rising_Star", "Critical", "CSR Factor", "Talent_Level", "Validated_Talent_Level", "Trending Perf"], inplace=True)

In [33]:
num_columns = data_df.select_dtypes(include=("int64", "float64")).columns

# PCA analysis