# Import libraries

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from dotenv import load_dotenv
import os
import time

# Basics
import pandas as pd
import numpy as np

# Useful

In [3]:
def check_shape_head(df : pd.DataFrame):
    assert isinstance(df, pd.DataFrame), f"{df} sould be a pandas dataframe"
    print(df.shape)
    return df.head(2)

# Retrieve data

In [4]:
!pwd

/home/thierry/code/Emroullier/hr-data-analytics/notebooks

In [5]:
# take environment variables from .env.
load_dotenv()

data_path = os.getenv("DATA_HR")
data_path = '../' + data_path

#Retrieve dataset from local directory
dataset = pd.read_csv(data_path)

pd.set_option('display.max_columns', None)
check_shape_head(dataset)

(14999, 62)

,ID,Name,Department,GEO,Role,Rising_Star,Will_Relocate,Critical,Trending Perf,Talent_Level,Validated_Talent_Level,Percent_Remote,EMP_Sat_OnPrem_1,EMP_Sat_OnPrem_2,EMP_Sat_OnPrem_3,EMP_Sat_OnPrem_4,EMP_Sat_OnPrem_5,EMP_Sat_Remote_1,EMP_Sat_Remote_2,EMP_Sat_Remote_3,EMP_Sat_Remote_4,EMP_Sat_Remote_5,EMP_Engagement_1,EMP_Engagement_2,EMP_Engagement_3,EMP_Engagement_4,EMP_Engagement_5,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left_Company,CSR Factor,promotion_last_5years,sales,salary,Gender,LinkedIn_Hits,Emp_Work_Status2,Emp_Work_Status_3,Emp_Work_Status_4,Emp_Work_Status_5,Emp_Identity,Emp_Role,Emp_Position,Emp_Title,Women_Leave,Men_Leave,Emp_Competitive_1,Emp_Competitive_2,Emp_Competitive_3,Emp_Competitive_4,Emp_Competitive_5,Emp_Collaborative_1,Emp_Collaborative_2,Emp_Collaborative_3,Emp_Collaborative_4,Emp_Collaborative_5,Sensor_StepCount,Sensor_Heartbeat(Average/Min),Sensor_Proximity(1-highest/10-lowest)
0,1,BRADDY,Operations,US,VP,NaN,0,1.0,3,6,6,0.4,3.0,3.0,4.0,3.0,5.0,2,3,2,3,2,5,5,4,4,3,0.36,3,168,3,1,0,NaN,0,sales,low,M,5,4,3,1,1,1,1,2,1,NaN,1.0,2,4,2,2,2,2,2,2,1,5,1841,61,9
1,2,BORST,Sales,UK,Senior Director,NaN,0,NaN,3,6,6,0.4,3.0,3.0,4.0,3.0,5.0,2,3,2,3,2,5,5,4,4,3,0.36,5,159,2,0,0,NaN,0,accounting,low,F,58,3,3,4,3,2,1,2,1,0.0,NaN,2,2,1,4,1,3,2,5,1,5,1990,90,8

# Generate dummy input - predict leaving

In [33]:
# Generate a dataset of 'number' random rows from original dataset
number = 10

def generate_dummy_data_leaving(number, data):
    '''
    generate_data_leaving creates a json file of 'number' rows from data and saves it locally.
    For demonstration purpose with Front-End.
    
    '''
    timestamp = time.strftime("%Y%m%d_%H%M%S")
    file_path = os.path.join('../raw_data/dummy_data/',f"{timestamp}_dummy_{number}.json")
    data.sample(number).to_json(file_path)

# generate_dummy_data_leaving(number,dataset)

# Generate dummy input - predict hiring

In [7]:
# Generate a dataset of 'number' random rows *** for a specific position ***
# from original dataset
number = 3

def generate_dummy_data_hiring(number, data):
    '''
    generate_data_leaving creates a json file of 'number' random rows *** for a specific position***
    from data and saves it locally.
    For demonstration purpose with Front-End.
    
    '''
    shape=0
    
    while shape < number:    
        # Random selection for Department, GEO, average_montly_hours, salary and Role
        rand_Department = np.random.choice(dataset['Department'].unique(),1)
        rand_GEO = np.random.choice(dataset['GEO'].unique(),1)
        rand_average_montly_hours = np.random.choice(dataset['average_montly_hours'].unique(),1)
        rand_salary = np.random.choice(dataset['salary'].unique(),1)
        rand_Role = np.random.choice(dataset['Role'].unique(),1)

        query = f"@dataset['Department']=='{rand_Department[0]}'and\
        @dataset['GEO']== '{rand_GEO[0]}'and\
        @dataset['average_montly_hours'] > {rand_average_montly_hours[0]} and\
        @dataset['salary']=='{rand_salary[0]}'and\
        @dataset['Role']=='{rand_Role[0]}'"
        input_features = dataset.query(query)
        
        if input_features.shape[0] >= number:   
            #Create and save json file locally
            timestamp = time.strftime("%Y%m%d_%H%M%S")
            file_path = os.path.join('../raw_data/dummy_data/',f"{timestamp}_dummy_{rand_Role[0]}_{rand_Department[0]}_{rand_GEO[0]}_{rand_average_montly_hours[0]}_{rand_salary[0]}_{number}.json")
            input_features.sample(number).to_json(file_path)
            break
        else : 
            shape = input_features.shape[0]

# generate_dummy_data_hiring(number,dataset)